@import "tailwindcss";
@source "../../*.html";
@source "../js/**/*.js";
html {
  scroll-behavior: smooth;
}
@theme {
  --duration-3000: 3000ms;
}
.social-icon {
  @apply w-[32px] mr-4 cursor-pointer hover:opacity-80 transition-opacity;
}
.button-text-white {
  @apply text-[21px] font-[400] tracking-[3%] lg:flex justify-center items-center  text-white bg-[#FD6F00] hover:bg-[#e56300] cursor-pointer  py-4   transition-colors;
}
.filter-button {
  @apply text-[21px] font-[400] tracking-[3%] text-black bg-[#EDEDED] hover:bg-[#dcdcdc] py-3 px-5 rounded-xl cursor-pointer transition-colors;
}
.menu-item {
  @apply border-y-2 border-solid border-amber-300 px-4 py-2;
}
.section-header {
  @apply flex flex-col items-center justify-start text-center max-w-[347px] lg:max-w-[940px] lg:h-[214px] mx-auto;
}
.section-title {
  @apply text-4xl lg:text-[65px] tracking-[3%] font-[600];
}
.section-desc {
  @apply mt-10 lg:mt-[22px] text-[21px] max-w-[800px];
}
.form-input {
  @apply w-full  h-[76px] bg-[#F8F8F8] rounded-[14px] p-5 text-black text-[21px];
}
.border-for-menu {
  @apply flex border-y-[0.2px] border-white w-full py-2 pl-2;
}

.container {
  width: 92%;
  max-width: 347px;
  margin: 0 auto;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1420px;
    width: 90%;
  }
}
